node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml
package-lock.json

.expo/
.expo-shared/
android/
android/**/build/
ios/
ios/Pods/
ios/**/build/
*.keystore

build/
dist/
*.app
*.apk
*.aab

.DS_Store
.vscode/
.idea/
*.swp
Thumbs.db

.env
.env.*

.vscode/
/.expo/web/cache/
/.expo/web/.*
*.db
*.db-shm
*.db-wal

.gradle/
.gradle
/.pnp/
.pnp.js
coverage/
jest-cache/
node_modules
